// Make different levels of colored shadows
@function make-colored-shadow-1 ($color, $opacity: .33) {
  $shadow:  $z-depth-1-spread rgba( darken( $color, 15% ), $opacity ) !default;
  @return $shadow;
}
@function make-colored-shadow-1-half ($color, $opacity: .33) {
  $shadow:  $z-depth-1-half-spread rgba(darken( $color, 15% ),  $opacity) !default;
  @return $shadow;
}
@function make-colored-shadow-2 ($color, $opacity: .33) {
  $shadow:  $z-depth-2-spread rgba( darken( $color, 15% ), $opacity ) !default;
  @return $shadow;
}
@function make-colored-shadow-3 ($color, $opacity: .33) {
  $shadow:  $z-depth-3-spread rgba( darken( $color, 15% ), $opacity ) !default;
  @return $shadow;
}
@function make-colored-shadow-4 ($color, $opacity: .33) {
  $shadow:  $z-depth-4-spread rgba( darken( $color, 15% ), $opacity ) !default;
  @return $shadow;
}
@function make-colored-shadow-5 ($color, $opacity: .33) {
  $shadow:  $z-depth-5-spread rgba( darken( $color, 15% ), $opacity ) !default;
  @return $shadow;
}

@each $btn_name,
$color_value in $mdb-colors {
  @include make-shadows($btn_name, $color_value);
}